* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-size: 70px;
    vertical-align: baseline;
    background: transparent;
}

body {
    background-color: #395BB6;
    color: white;
    position: fixed;
}

a {
    text-decoration: none;
    color: #000;
    font-size: inherit;
}

h1 {
    font-size: 100%;
}

p {
    font-size: 50%;
}

header {
    font-size: 10vh;

    text-align: center;
    background-color: rgba(220, 20, 60, 70);
    position: static;
    height: 21vh;
}

.sidebar {
    width: 20%;
    white-space: nowrap;
    float: left;

    height: 79vh;
    position: fixed;
    bottom: 0;
}

.sidebar-element {
    padding-top: 1vh;
    padding-bottom: 0.1vh;
    padding-left: 0.3vh;
    padding-right: 0.7vh;

    border-color: black;
    border-width: 1px;
    border-style: solid;

    font-size: 5vh;
    text-align: left;
    
    height: 8.55vh;
    position: relative;
}

.content {
    width: 75%;
    float: right;

    margin-top: 7%;
    margin-right: 2%;

    height: 79vh;

    font-size: 4.5vh;
}